.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__card {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
   
.movie__list{
width: 100%;
height: 100%;


}


  }

